body{
  background-color: #caf0f8;
  padding: 0;
  margin:0;
}


.mainContainer {
  max-width: 460px;
  width: 100%;
  padding: 0;
  margin: auto;
  background-color: white;
  min-height: 100vh;
}
.profileContainer {
  width: 100%;
  height: fit-content;
  text-align: center;
  padding-top: 5%;
  background-color: #037cbd;
  color: white;
}
.nameContainer {
  border-bottom: 0.1px solid rgba(186, 186, 186, 0.2);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.nameContainer > h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.position {
  width: 8rem;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  opacity: 0.8;
  font-size: 0.7rem;
}
.optionsContainer {
  display: flex;
}
.btnLlamarContainer {
  width: 50%;
}
.btnLlamar {
  padding-top: 2%;
  margin-left: auto;
  width: 80%;
  height: 3.2rem;
  display: grid;
  cursor: pointer;
  grid-template-areas:
    "imgLlamar"
    "lblLlamar";
  background-color: #037cbd;
  color: white;
  border: none;
  border-right: 0.1px solid rgba(186, 186, 186, 0.2);
}
.btnLlamar:focus {
  background-color: #01669c;
}
.btnLlamar > i {
  grid-area: imgLlamar;
  font-size: 1.3rem;
}
.btnLlamar > label {
  grid-area: lblLlamar;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.btnEmailContainer {
  width: 50%;
}
.btnEmail {
  padding-top: 2%;
  width: 80%;
  margin-right: auto;
  cursor: pointer;
  height: 3.2rem;
  display: grid;
  background-color: #037cbd;
  color: white;
  border: none;
  grid-template-areas:
    "imgEmail"
    "lblEmail";
}
.btnEmail:focus {
  background-color: #01669c;
}
.btnEmail > i {
  grid-area: imgEmail;
  font-size: 1.3rem;
}
.btnEmail > label {
  grid-area: lblEmail;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.dataContainer {
  display: grid;
  grid-template-areas:
    "telCon"
    "emCon"
    "wrkCon";
  padding-top: 2rem;
  padding-left: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}
.icono-datos {
  color: rgb(189, 188, 188);
  font-size: 1.5rem;
}
.telephoneContainer {
  grid-area: telCon;
  display: flex;
  padding: 0rem 0rem 1rem 0rem;
}
.telDataContainer {
  width: 100%;
}
.movil {
  display: grid;
}
.movil > span {
  padding-top: 0.2rem;
  opacity: 0.5;
}
.telefono {
  padding-top: 2rem;
  display: grid;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
  width: 100%;
}
.telefono > span {
  padding-top: 0.2rem;
  opacity: 0.5;
}
.emailContainer {
  grid-area: emCon;
  display: flex;
  padding: 0rem 0rem 1rem 0rem;
}
.email {
  display: grid;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
  width: 100%;
}
.email > span {
  padding-top: 0.2rem;
  opacity: 0.5;
}
.workContainer {
  grid-area: wrkCon;
  display: block;
  padding: 0rem 0rem 0rem 0rem;
}
.workplaceContainer {
  width: 100%;
  display: flex;
}
.workplace {
  display: grid;
}
.workplace > span {
  padding-top: 0.2rem;
  opacity: 0.5;
}
.websiteContainer {
  width: 100%;
  display: flex;
  padding-top: 2rem;
}
.website {
  display: grid;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
  width: 100%;
}
.website > span {
  padding-top: 0.2rem;
  opacity: 0.5;
}
.icono-datos {
  padding-right: 2rem;
}
.redesContainer {
  padding-left: 3.5rem;
  display: block;
}
.redesContainer > h3 {
  opacity: 0.5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}
.iconosRedes > a > img {
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
  margin: 1rem 1.5rem 1rem 0rem;
}
